.pagina-home{
    display: flex;

    height: 100vh;
    width: 100%;

    flex-direction: column;

    align-items: center;
    justify-content: center;


    background: linear-gradient(45deg, rgb(163, 163, 163) 20%, rgb(255, 255, 255) 40%, rgb(168, 168, 168));


    img{
        height: 500px;
        width: 500px;
    }
}